# MongoDB Connection
DATABASE_URL=mongodb://localhost:27017/typescript-auth

# Server Port
PORT=3000

# JWT Secret
# Generate a new secret with: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=5743400a2b4deeb76c84bdc123623f651e6cc79e1ef016f3538aeba0a0cfcc7e0d39201766e1d9699326cc82300454521c0d8028c431abf359b2bdadafasdfa2c3

# JWT Expiration
JWT_EXPIRES_IN=7d

